#mobile__menu-toggle {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  margin: 2.3rem -0.3rem;
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  font-size: 1.5rem;
  font-family: "Raleway", serif;
  color: #ff6c00; }
  #mobile__menu-toggle .mobile__menu-container {
    cursor: pointer; }
  #mobile__menu-toggle #close-menu {
    display: none; }

#mobile__menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  background-color: #032b2f;
  opacity: 0.9; }
  #mobile__menu #mobile__menu-list {
    position: fixed;
    top: 8rem;
    margin-left: 2rem;
    padding: 0;
    font-size: 3rem;
    font-family: "Raleway", serif;
    list-style-type: none; }
  #mobile__menu .mobile__menu-item {
    margin: 2rem auto; }
  #mobile__menu .mobile__menu-link {
    text-decoration: none;
    color: #ff6c00; }
    #mobile__menu .mobile__menu-link:hover {
      text-decoration: underline;
      color: #f5f5f5; }
    #mobile__menu .mobile__menu-link:visited {
      color: #ffc499; }

.logo__container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem; }
  .logo__container .logo__link {
    cursor: pointer; }
  .logo__container .logo__dark, .logo__container .logo__light {
    height: 4rem; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#intro {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #intro::after {
    clear: both;
    content: "";
    display: table; }

.intro__container {
  margin: 6rem auto 1rem auto;
  width: 17rem; }
  @media screen and (min-width: 501px) {
    .intro__container {
      width: 25rem; } }
  @media screen and (min-width: 768px) {
    .intro__container {
      margin: 6rem auto;
      width: 33rem; } }
  @media screen and (min-width: 1024px) {
    .intro__container {
      margin: 6rem auto;
      width: 44rem; } }

.intro__text {
  margin: 0;
  font-size: 2rem;
  font-family: "Raleway", serif;
  line-height: 2.5rem; }
  @media screen and (min-width: 501px) {
    .intro__text {
      font-size: 3rem;
      line-height: 3.4rem; } }
  @media screen and (min-width: 768px) {
    .intro__text {
      font-size: 4rem;
      line-height: 3.5rem; } }
  @media screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .intro__text {
      font-size: 5rem;
      line-height: 5rem; } }

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 28rem; }
  @media screen and (max-width: 500px) {
    #hero {
      background-image: url("/images/laptop-with-plant-2.jpg");
      background-position-x: -5rem; } }
  @media screen and (min-width: 501px) {
    #hero {
      background-image: url("/images/laptop-with-plant-2.jpg");
      background-position-x: 0; } }
  @media screen and (min-width: 768px) {
    #hero {
      background-image: url("/images/minimal-computer.jpeg");
      background-position-x: 0; } }
  @media screen and (min-width: 1024px) {
    #hero {
      background-image: url("/images/laptop-with-notebook.jpeg");
      background-position-x: 0; } }

* {
  box-sizing: border-box; }

body {
  min-width: 320px;
  background-color: #f5f5f5; }
