html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.about__header, .project__header, .skills__header, .skills__list-group {
  font-family: "Raleway", serif; }
  @media screen and (min-width: 768px) {
    .about__header, .project__header, .skills__header, .skills__list-group {
      font-size: 3rem; } }
  @media screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .about__header, .project__header, .skills__header, .skills__list-group {
      font-size: 4rem; } }

.project__title {
  font-family: "Raleway", serif; }
  @media screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .project__title {
      font-size: 2rem; } }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#projects {
  margin: 0 1.5rem; }

figure {
  margin: 0 auto;
  padding: 1rem 0;
  width: 17rem;
  background-color: #ffe2cc;
  color: #032b2f; }
  @media screen and (min-width: 768px), screen and (min-width: 1024px), screen and (min-width: 1440px) {
    figure {
      width: 33rem; } }

.project {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .project::after {
    clear: both;
    content: "";
    display: table; }

.project__description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .project__description:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px), screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .project__description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .project__description:last-child {
        margin-right: 0; } }

.project__image-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .project__image-container:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px), screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .project__image-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-right: 0; }
      .project__image-container:last-child {
        margin-right: 0; } }
  .project__image-container .project__image {
    width: 100%; }

* {
  box-sizing: border-box; }

body {
  min-width: 320px; }
