html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.about__header, .project__header, .skills__header, .skills__list-group {
  font-family: "Raleway", serif; }
  @media screen and (min-width: 768px) {
    .about__header, .project__header, .skills__header, .skills__list-group {
      font-size: 3rem; } }
  @media screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .about__header, .project__header, .skills__header, .skills__list-group {
      font-size: 4rem; } }

.project__title {
  font-family: "Raleway", serif; }
  @media screen and (min-width: 1024px), screen and (min-width: 1440px) {
    .project__title {
      font-size: 2rem; } }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#projects {
  margin: 0 1.5rem; }

.project {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .project::after {
    clear: both;
    content: "";
    display: table; }

.project__description {
  display: block;
  color: #032b2f; }
  .project__description::after {
    clear: both;
    content: "";
    display: table; }

.bullets {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center; }
  .bullets:last-child {
    margin-right: 0; }
  .bullets .bullet {
    list-style-type: none;
    display: inline-block; }
    .bullets .bullet .fa {
      width: 3rem;
      position: relative;
      top: 0.2rem;
      color: #ff6c00; }
    .bullets .bullet h3 {
      display: inline-block;
      color: #ff6c00; }

.project__description-image--container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative; }
  .project__description-image--container:last-child {
    margin-right: 0; }
  .project__description-image--container .project__description-image {
    width: 100%; }

.hover__hidden {
  display: none; }

.hover__visible:hover > div {
  position: absolute;
  display: block; }

.ba-slider {
  position: relative;
  overflow: hidden; }

.ba-slider img {
  width: 100%;
  display: block;
  max-width: none; }

.ba-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden; }

.ba-slider .handle {
  /* Thin line seperator */
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  margin-left: -2px;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize; }

.ba-slider .handle:after {
  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  content: '\21d4';
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 64px;
  background: #ffb800;
  /* @orange */
  border: 1px solid #e6a600;
  /* darken(@orange, 5%) */
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 60px 50px -30px #ffd466;
  /* lighten(@orange, 20%)*/ }

.ba-slider .handle.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height: 50px;
  font-size: 30px; }

* {
  box-sizing: border-box; }

body {
  min-width: 320px; }
