// import only files to be transpiled to critical css style tags.

@import './partials/_variables.scss';
@import './partials/menu.scss';
@import './partials/logo.scss';
@import './partials/intro.scss';
@import './partials/hero.scss';

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: $mainColor;
}
