@import 'bourbon';
@import 'neat';

#intro {
  @include outer-container;
}

.intro__container {
  margin: 6rem auto 1rem auto;
  width: 17rem;
  @media screen and ($medium-phone) {
    width: 25rem;
  }
  @media screen and ($tablet) {
    margin: 6rem auto;
    width: 33rem;
  }
  @media screen and ($laptop) {
    margin: 6rem auto;
    width: 44rem;
  }
}

.intro__text {
  margin: 0;
  font-size: 2rem;
  font-family: $titleFont;
  line-height: 2.5rem;
  @media screen and ($medium-phone) {
    font-size: 3rem;
    line-height: 3.4rem;
  }
  @media screen and ($tablet) {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  @media screen and ($laptop), screen and ($desktop) {
    font-size: 5rem;
    line-height: 5rem;
  }
}

// .intro__arrow {
//   height: 2rem;
//   width: 2rem;
//   border-left: 1px solid;
//   border-bottom: 1px solid;
//   transform: rotateZ(-45deg);
//   position: relative;
//   bottom: 8px;
//   left: 45%;
// }
