@import 'bourbon';

#mobile__menu-toggle {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  margin: 2.3rem -0.3rem;
  transform: rotate(90deg);
  font-size: 1.5rem;
  font-family: $titleFont;
  color: $highlightColor;
  .mobile__menu-container {
    cursor: pointer;
  }
  #close-menu {
    display: none;
  }
}

#mobile__menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  //color: $darkColor;
  background-color: $darkColor;
  opacity: 0.9;

  #mobile__menu-list {
    position: fixed;
    top: 8rem;
    margin-left: 2rem;
    padding: 0;
    font-size: 3rem;
    font-family: $titleFont;
    list-style-type: none;
  }
  .mobile__menu-item {
    margin: 2rem auto;
  }
  .mobile__menu-link {
    text-decoration: none;
    color: $highlightColor;
    &:hover {
      text-decoration: underline;
      color: $mainColor;
    }
    &:visited {
      color: tint($highlightColor, 60%);
    }
  }
}
