@import 'bourbon';
@import 'neat';

#projects {
  @include row();
  height: 28rem;
  .project__container {
    margin: 0;
    @media screen and ($tablet) {
      display: inline-block;
      margin: 0;
      float: left;
      width: 50%;
    }
    @media screen and ($laptop), screen and ($desktop) {
      display: inline-block;
      margin: 0;
      float: left;
      width: 33.33333334%;
    }
  }
}

.project__img {
  height: 100%;
  width: 100%;
}


// @include row();
// // @include outer-container();
// height: 28rem;
// .project__container {
//   @include span-columns(12);
//   margin: 0;
//   @media screen and ($tablet), screen and ($laptop), screen and ($desktop) {
//     @include span-columns(4);
//     @include omega();
//   }
// }
